/* Universal styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /* styling of the body */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

 /* styling starts here */
.header-section {
    background-color: linear-gradient(rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.8)); 
    background-image: url("./Mask\ Group.png"); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
    width: 100%;
    justify-content: center;
    color: white;
    margin-bottom: 30px;
 }

 /* styling the nav */
 .header-section nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 50px;
    
 }

 .nav-logo img {
   width: 100px;
 }

 nav ul {
    list-style-type: none;
 }

 nav ul li {
    display: inline-block;
    margin: 0 20px;
 }

 nav ul li a {
   color: white;
   text-decoration: none;
   font-size: small;
 }

 nav ul li:nth-child(1) {
   text-decoration: underline;
   color: white;
 }

  nav ul li:nth-child(1):hover {
   text-decoration: none;
 } 

 .current-page:hover {
  border-bottom: 1px solid #fff;
  
 }

 /* End of nav styling */
 .header-section .introduction {
   margin-left: 70px;
   margin-bottom: 50px;
   color: white;
   filter: contrast(200);
 }

 .introduction p .welcome {
   text-transform: uppercase;
   font-size:20px;
   font-weight: lighter;
 }
 .introduction h1 {
   text-transform: uppercase;
   font-size: 70px;
   font-weight: bold;
   font-family: 'Times New Roman', Times, serif;
 }
 .introduction h2 {
   text-transform: uppercase;
   font-size:30px;
   font-weight: bold;
   letter-spacing: 10px;
   font-family: 'Times New Roman', Times, serif;
 }

 .introduction .note {
      font-size:small;
   font-weight: 100;
   letter-spacing: 1.5px;
 }

 .header-button {
   text-align: center;
   margin-bottom: 20px;
 }

 .header-button .btn {
   background-color:#e0b973;
   padding: 5px 10px;
   color: white;
   border-radius: 5px;
   border: none;  
   cursor: pointer; 
 }

 .header-button .text {
   margin-left: 5px;
   font-size: 10px;
 }
 .header-button .btn .btn-image {
   width: 10px;
 }

 .scroll {
   text-align: center;
   cursor: pointer;
   margin-bottom: 5px;
 }

 .scroll span {
   font-size: 10px;
   font-weight: 550;
 }

 .scroll img {
   width: 25px;
 }

 /* End of header styling */

 /* styling of hero-section */
 .hero-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 50px;
  font-family: serif;
 }

 .hero-section .hero-para {
  font-family: serif;
  text-align: center;
  margin-bottom: 35px;
  font-size: 18px;
  font-weight: 550;
  color: #14274a;
 }

 .hero-section .hero-section1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
 }

 .hero-image1 img {
  width:400px;
 }

 .hero-section .hero-para1, 
 .hero-section .hero-para2 {
  margin-bottom: 15px;
  color: #14274a;
  border-left: 2px solid #14274a;
 }

 .hero-para1 h1, .hero-para1 p,
 .hero-para2 h1, .hero-para2 p {
  margin-bottom: 15px;
  margin-left: 30px;
 }

 .hero-para1 p,
 .hero-para2 p {
  font-size: 12px;
  font-weight: 550;
 }

 .hero-para1 button, 
 .hero-para2 button {
   padding: 6px 20px;
   background-color: #e0b973;
   border: none;
   border-radius: 5px;
   color: rgba(255, 255,2550, 0.8);
   text-transform: uppercase;
   font-size: 9px;
   font-weight: 550;
   margin-left: 30px;
 }

 .hero-section .hero-section2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
 }

 .hero-image2 img {
  width:400px;
  padding-top: 5px;
  margin-right: 5px;
 }

 /* End of hero section */

 /* styling the testimonial section */
 .testimonial-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 70px;
 }

 .testimonial h3 {
  font-weight: bold;
  color: #14274a;
  margin-bottom: 10px;
  margin-left: 20px;
 }

 .testimonial p {
  color: #14274a;
  margin-bottom: 5px;
 }

 .testimonial .quote {
  font-weight: 550;
  font-size: 12px;
 }

 .testimonial .name {
  font-size: 10px;
  margin-bottom: 15px;
 }

 .icon .opening-icon, .icon .closing-icon {
  width: 20px;
  margin: 3px;
 }

 /* End of testimonial section */

 /* footer section */
 .footer {
  position: relative;
  background-color: #14274a;
  width: 100%;
  height: 120px;
  }

 .footer::before {
    content: "";
    position: absolute;
    left: 50%;
    top: -30px;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 30px solid #14274a;
    transform: translateX(-50%) ;
 }

 .footer-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: rgba(255, 255,2550, 0.9);
  font-size: 7px;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 8px;
  margin-bottom: 8px;
 }

 .footer-content .link p{
  margin: 10px;
  text-align: left;
 }

 .footer-content .link p a{
  color: rgba(255, 255,2550, 0.9);
  text-decoration: none;
 }

 .contact-info p {
  margin: 7px  ;
 }

 .contact-info p img {
  width: 5px;
  margin-right: 5px;
 }
 .contact-info p:nth-child(1) img:nth-child(1) {
  width: 3px;
  margin-right: 4px;
 }

 .contact-info p:nth-child(2) {
  margin-right: 12px;
 }

 .contact-info p:nth-child(3) {
  margin-left: 12px;
 }

 .footer-content .input {
  margin: 15px 0;
 }

 .input p {
  margin-top: 10px;
  margin-right: 55px;
 }

 form {
  display: flex;
  align-items: center;
  width: 200px;
  margin-top: 5px;
 }

 .input input {
  outline: none;
  width: 200px;
  background-color: #14274a;
  border: 1px solid #e0b973;
  font-size: smaller;
  padding: 5px;
  margin: 6px 0;
  margin-left: 30px;
 }

 .input input::placeholder {
  color: white;
  font-weight: 50;
 }

 .input .input-btn {
  width: 50px;
  padding: 3.5px;
  margin: 6px 0;
  font-size: 8px;
  background-color: #e0b973;
  border: 1px solid #e0b973
  /* outline: none; */
 }

 .footer-content .luxury {
  margin: 10px;
  text-align: left;
 }

 .luxury .footer-hotel-name {
  margin-bottom: 10px;
 }

 .footer-hotel-name h1 {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 2px;
  letter-spacing: 1px;
  color: rgba(255, 255,2550, 0.88);
}
.footer-hotel-name h2 {
  text-transform: uppercase;
  font-size:5px;
  font-weight: 450;
  letter-spacing: 2px;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 10px;
  color: rgba(255, 255,2550, 0.7);
}

.luxury address {
  color: rgba(255, 255,2550, 0.5);
}
/* End of footer section */

@media screen and (min-width:320px) and (max-width:540px){
  .hero-image1 img {
    width:300px;
   }

 .hero-image2 img {
  width:300px;
  padding-top: 5px;
  margin-right: 5px;
 }

  .footer{
    min-width: 100vw;
    padding: 0 20px;
    text-align: center;
  }  

  .hero-para1 {
    margin-left: -15px;
  }

  .input input {
    width: 100px;
  }
}

